HOST='MY_HOST'
PORT=3000

# The URL of our Auth0 Tenant Domain.
# If you're using a Custom Domain, be sure to set this to that value instead.
AUTH0_DOMAIN='MY_AUTH0_DOMAIN'

AUTH0_CLIENT_ID='MY_AUTH0_CLIENT_ID'

# Our Auth0 API's Identifier.
AUTH0_AUDIENCE='MY_API_NAME'
